.vscode
.DS_Store
brain-cancer-mri-dataset
OpenMP/build
OpenMP/main
OpenMP/output
experiment_run
OpenMP/analysis
CUDA/build
CUDA/main
CUDA/output
CUDA/app/hardware_cap.c
CUDA/analysis/output
CUDA/analysis/__pycache__
